/* style.css */
h1, h2, h3 {
    color: #003366;
    font-family: 'Segoe UI', sans-serif;
}

.stButton > button {
    background-color: #008080;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 0.5em 1em;
    margin-top: 10px;
}

.stSlider > div {
    color: #333;
}

.stSelectbox label, .stCheckbox label {
    font-weight: 500;
}

.stExpanderHeader {
    font-weight: bold;
    color: #333;
}
